{#{% extends "base.html" %}#}
{% import "_macros.html"as macros %}

{#{% block title %}5G舆情系统{% endblock %}#}
{% extends "search_mod.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="jumbotron">

            <td>关键词：{{ session['keywords'] }}</td>
            <td>网站：{{ session['web'] }}</td>
            <td>公众号：{{ session['auther'] }}</td>
            <form enctype=multipart/form-data>
                {% for news in pagination.items %}
                    <br>
                    <td><h2 class="title">{{ news.title }}</h2></td><br>
                    <td>{{ news.createTime }}</td>
                    <td>来源：{{ news.source }}</td>
                    <td>作者：{{ news.auther }}</td>
                    <div class="longtext" style="width: 1000px;">
                        <td id="content">{{ news.content }}</td>
                    </div>
                    {% if news.source =="微信公众号" %}
                        <td><a href="{{ url_for('main.snapshoot', ObjectId =news.ObjectId) }}">快照</a></td>
                    {% endif %}
                    {% if news.source != "微信公众号" %}
                        <td><a href="{{ news.url }}">原文链接</a></td>
                    {% endif %}
                    </tr>
                    <br>
                {% endfor %}
            </form>
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, 'main.search') }}
                </div>
            {% endif %}
        </div>
    </div>
    </br>
{% endblock %}

